{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center-mb-3"> This Drivers Rides </h1>
    {% if thisDriversRides %}
        {% for ride in thisDriversRides %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead"> Ride started at {{ ride.date }} ended at {{ ride.end_date }} </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'driverDatabase:index' %}" class="btn btn-primary btn-sm"> Go back to the list of Drivers </a>
{% endblock %}