{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center-mb-3"> Curent Drivers</h1>
    {% if latest_driver_list %}
        {% for driver in latest_driver_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead">{{ driver.name_text }}</p>                    
                    <a href="{% url 'driverDatabase:driverDetail' driver.id %}" class="btn btn-secondary btn-sm"> Get details </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> No one drove this car </p>
    {% endif %}
{% endblock %}